*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(10, 10, 10);
}
.page-content{
    display: flex;
    height: 100dvh;
}

.aside-menu{

    width: 15dvw !important; 
    height: 100dvh;
    border-right: 1px solid rgba(51, 51, 51, 0.3);
    position: relative;
}
.page-header{
    height: 13vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}
.page-title{
    color: #cacaca;
    font-size: 2.2vw;
}
.title-description{
    color: #a5a5a5;
    font-size: 1.2vw;
}
.levels{
    height: 87vh;
    overflow: auto;
    scrollbar-color: #cacaca black;
    
}
.ul-levels{
    height: 100%

}
.level{
    height: 5dvh;
    display: flex;
    align-items: center;
    padding-left: 10px;

    cursor: pointer;
    transition: .3s ease;

}
.level:hover{
    background-color: #131313;
    padding-left: 20px;
}
.selected{
    background-color: #131313;
    padding-left: 20px;
}
.level-button{
    text-decoration: none;
    font-size: 1dvw;
    color: #a5a5a5;
}

.content-page{
    box-sizing: border-box;
    width: 100%;

}

.lesson-content{
    height: 47%;
    width: 100%;
}
.shell-simulator{
    height: 50%;
    border-top: 1px solid #131311;
    background-color: #030303;
    padding: 15px;
}
.shell-content{
    height: 100%;
}
.prompt{
    color: green;
    font-weight: bold;
    font-family: monospace;
    font-size: .9vw;
}
#prompt-command{
    background-color: transparent;
    color: white;
    width: 75%;
    border: none;
    outline: none;
}
#prompt-command:active{
    outline: none;
}

#command-output{
    padding-top: 10px;
    padding-left: 10px;
    color: white;
}


.page-footer{
    position: relative;
    bottom: 0;
    height: 20dvh;
    width: 100%;
    border-top: 1px solid rgba(51, 51, 51, 0.8);
    z-index: 10000;
}


